<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088534743968-kldnrth77ts11q77o2r0pt4d7ems39c7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088534743968-kldnrth77ts11q77o2r0pt4d7ems39c7</string>
	<key>API_KEY</key>
	<string>AIzaSyATjRy1vJZIpiuky37m3UM-BSKrpBuwOn0</string>
	<key>GCM_SENDER_ID</key>
	<string>1088534743968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carecoins.carecoinsFlutter</string>
	<key>PROJECT_ID</key>
	<string>tfg-carecoins</string>
	<key>STORAGE_BUCKET</key>
	<string>tfg-carecoins.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088534743968:ios:643a6a4871ffe3c7d7f2c5</string>
</dict>
</plist>